<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [300, 300]
  Dashing.numColumns = 5
  $('body').css({backgroundColor: "#000"});
});
</script>


<% content_for(:title) { "LeMans Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="lemandata" data-view="Time"></div>
    </li>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="lemandata" data-view="Flag"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="lmwhetherdata" data-view="Whethericon"></div>
    </li>
     <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
          <div data-id="twitter_mentions" style="background: #111;" data-view="Comments"></div>
      </li>
  </ul>
</  div>